name: "Workflow / Issue Labeler"

on:
  issues:
    types: [opened, edited]

jobs:
  labeler:
    name: Add labels to Issue

    runs-on: ubuntu-latest

    steps:
    - name: Add labels to Issue
      uses: github/issue-labeler@v3.2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: .github/labeler.yml
        enable-versioned-regex: 0
        include-title: 1
